#app {
    height: 100vh;
    display: flex;
}

#sidebar {
    height: 100vh;
}

.main-content {
    flex: 1;
    padding: 2rem;
    height: 100vh;
    background-color: white;
}

.mati{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.bootmati{
    height: 100vh;
}

.allmetirials{
    width: 100%;
    /* height: 80vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.allmeti{
    width: 70%;
}

.file-inputs input,Select{
    border: black 3px solid;
}
.matform{
    width: 50%;
    height: 20vh;
}


@media (max-width:500px) {
    #sidebar {
        position: fixed;
    }
    .main-content {
        flex: 1;
        padding: 5rem;
    }
}



/* .h1-home{
    margin: 0% 50% 85% 30%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: Arial, sans-serif;
    align-items: center;
    
}

.h1-home h1 {
    cursor: pointer;
    font-size: 2.5em;
    color: #3498db;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin: 20px 0;
    animation: blink 1s step-start infinite;
}
.h1-home h1:hover {
    color: #18132c;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

@keyframes blink {
    50% {
        opacity: 0;
    }
} */