.appcontainer {
    width: 75%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.appcontainer button:first-child {
    height: 25vh;
    width: 70%;
    background-image: url("./certificate.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
}

.appcontainer button:nth-child(2) {
    height: 25vh;
    width: 70%;
    background-color: white;
    background-image: url("./chat-bot.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.appcontainer button:nth-child(3) {
    height: 25vh;
    width: 70%;
    background-color: white;
    background-image: url("./notes.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.appcontainer button:nth-child(4) {
    height: 25vh;
    width: 70%;
    background-color: white;
    background-image: url("./chat.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media (max-width:500px) {
    .appcontainer {
        width:80%;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .appcontainer button:first-child {
        height:30vh;
        width: 100%;
    }

    .appcontainer button:nth-child(2) {
        height:30vh;
        width: 100%;
    }

    .appcontainer button:nth-child(3) {
        height:30vh;
        width: 100%;
    }

    .appcontainer button:nth-child(4) {
        height:30vh;
        width: 100%;
    }
}