/* css for cards */
@-webkit-keyframes jello {
    from,
    11.1%,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    22.2% {
      -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
      transform: skewX(-12.5deg) skewY(-12.5deg);
    }
  
    33.3% {
      -webkit-transform: skewX(6.25deg) skewY(6.25deg);
      transform: skewX(6.25deg) skewY(6.25deg);
    }
  
    44.4% {
      -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
      transform: skewX(-3.125deg) skewY(-3.125deg);
    }
  
    55.5% {
      -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
      transform: skewX(1.5625deg) skewY(1.5625deg);
    }
  
    66.6% {
      -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
      transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }
  
    77.7% {
      -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
      transform: skewX(0.390625deg) skewY(0.390625deg);
    }
  
    88.8% {
      -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
      transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
  }
  @keyframes jello {
    from,
    11.1%,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    22.2% {
      -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
      transform: skewX(-12.5deg) skewY(-12.5deg);
    }
  
    33.3% {
      -webkit-transform: skewX(6.25deg) skewY(6.25deg);
      transform: skewX(6.25deg) skewY(6.25deg);
    }
  
    44.4% {
      -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
      transform: skewX(-3.125deg) skewY(-3.125deg);
    }
  
    55.5% {
      -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
      transform: skewX(1.5625deg) skewY(1.5625deg);
    }
  
    66.6% {
      -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
      transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }
  
    77.7% {
      -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
      transform: skewX(0.390625deg) skewY(0.390625deg);
    }
  
    88.8% {
      -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
      transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
  }
  .animate__jello {
    -webkit-animation-name: jello;
    animation-name: jello;
    -webkit-transform-origin: center;
    transform-origin: center;
  }
  
  
  .home-container {
    width: 98%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: #071952;
    padding-bottom: 1%;
    border: 2px solid #f5f1f1;
    border-radius: 10px;
  
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #C65BCF;
    
  }

  h3{
    color: #37B7C3;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 2fr 1.5fr; 
    grid-template-rows: repeat(2, 1fr);
    gap: 20px; 
    padding: 20px;
    border: 2px solid #fef8f8;
    border-radius: 10px;
    background-color: #088395;
    width: 100%;
    color: #071952;
  
  
  
  }
  
  .member-card {
    background-color: #fff;
    box-shadow: #191b1c99;
    border: 2px solid #f4eeee;
    border-radius: 10px;
    height: 180px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
  }
  
  .member-card.large {
    grid-row: span 2;
    height: auto;
  
  } 
  @media (max-width: 1200px) {
    .grid {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }



  /* css for h1 */
  @-webkit-keyframes swing {
    20% {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(0, 0, 1, 15deg);
    }
  
    40% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
    }
  
    60% {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg);
    }
  
    80% {
      -webkit-transform: rotate3d(0, 0, 1, -5deg);
      transform: rotate3d(0, 0, 1, -5deg);
    }
  
    to {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }
  @keyframes swing {
    20% {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(0, 0, 1, 15deg);
    }
  
    40% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
    }
  
    60% {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg);
    }
  
    80% {
      -webkit-transform: rotate3d(0, 0, 1, -5deg);
      transform: rotate3d(0, 0, 1, -5deg);
    }
  
    to {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }
  .animate__swing {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
    
  }
  
  @keyframes blazingStar {
    1% {
      border-radius: none;
      box-shadow: 0px 0px 40px #bbe4e999;
      transform: scale(1);
    }
    10% {
      box-shadow: 0px 0px 0px;
      transform: scale(1);
    }
  
    40% {
      box-shadow: 0px 0px 120px rgba(246, 246, 214, 0.6);
      transform: scale(1);
    }
    50% {
      box-shadow: 0px 0px 0px;
      transform: scale(1);
    }
    60% {
      box-shadow: 0px 0px 20vh rgb(217, 152, 185);
      transform: scale(1);
    }
  
    70% {
      box-shadow: 0px 0px 0px;
      transform: scale(1);
    }
    80% {
      box-shadow: 0px 0px 20vh rgb(232, 191, 165);
      transform: scale(1);
    }
  
  }
  
  .blazingStar {
   animation-timing-function: ease-out;
   transform-origin: bottom center;
   animation-name: blazingStar;
   animation-duration: 5s;
  }