.menu {
  width: 100%;
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.menucard {
  height: 200px;
}

.menulist {
  width: 100%;
  max-width: 900px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.menucard button {
  border: none;
  color: blue;
}

@media (max-width: 768px) {
  .menulist {
    width: 100%;
    display: grid;
    justify-content: center;
  }
}
